.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 270px;
  margin-top: 20px;
  width: 1350px;
  height: 890px;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  border: white 1px solid;
}

.chat-container .chat-header {
    color: white;

}

.chat-container .chat-input {
    margin-top:auto;
    background-color:rgb(12, 12, 12) ;
    color: white;
    width: 1340px;
    height: 100px;
    border-radius: 10px;
    border: white 1px solid;
    padding-left: 10px;
    font-size: 16px;
}

.chat-input input{
    margin-left:0px !important;
    width: 1170px;
    height: 87px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px;
    font-size: 16px;
}

.chat-input input:focus{
    outline: none;
    border: 0px solid white;
    background-color: rgb(12, 12, 12);
    color: white;
}

.chat-input button{
    
    width: 150px;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 12, 12);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.chat-input button:hover{
    background-color: rgb(24, 24, 24);
    color: white;
    border: 1px solid white;
}

.chat-messages {
    width: 1310px;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 18px;
    word-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    background-color: #181818;
    color: white;
    border-bottom-right-radius: 5px;
}

.message.bot {
    align-self: flex-start;
    background-color: #e0e0e0;
    color:black;
    border-bottom-left-radius: 5px;
}